<form>

  <!--<div class="signin-form collapse" id="collapseExample">-->
  <h3>Credit card</h3>
   <div class="card-form">
     <label for="card-number">Card Number</label><br>
     <input type="text" name="card-number" id="card-number" class="field"><br>
     <label for="name-holder">Name on card</label><br>
     <input type="text" id="name-holder" class="field"><br>
     <div style="float: left">
     <label>Expire date</label><br>
     <input class="date" type="text" id="expire-month" placeholder="mm">/
     <input class="date" type="text" id="expire-year" placeholder="yy">
     </div>
     <div style="float: right">
     <label >CCV/CVV</label><br>
     <input type="text" class="ccv-input">
     </div>
   </div>
  <span>
  <button class="btn btn-primary btn-signup"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Pay
  </button>
</span>
</form>



