<form>

  <!--<div class="signin-form collapse" id="collapseExample">-->
<h3>Bank transfer</h3>
    <table>
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Account Name</th>

      </tr>
      <tr>
        <td></td>
        <td>Kasikorn Bank</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Kasikorn Bank</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Kasikorn Bank</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Kasikorn Bank</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  <p class="order"><b>Order:</b> sfsfsfssdf</p>
  <!--</div>-->
  <span>
  <button class="btn btn-primary btn-signup"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Close
  </button>
</span>
</form>



